.main-nav {
    background: $color1;
    position: fixed;
    top: 0;
    right: -$offcanvas-width;
    width: $offcanvas-width;
    padding: 1em;
    height: 100vh;
    z-index: 200;
    transition: all .3s;
    &.mostrar{
        right: 0;
    }
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    &__item{
        border-bottom:  1px solid rgba($color2,.2);
    }
    &__link {
        line-height: 2.7;
        display: block;
        text-transform: uppercase;
        font-family: $font-title;
        font-weight: $light;
    }
}

// mover el body al mostrar el menu

body{
    position: relative;
    right: 0;
    transition: all .3s;
    &.mostrar {
        right: $offcanvas-width;
    }
}